.rectangleAddAccount {
  display: block;
  width: 240px;
  background: white;
  text-align:right;
  text-align-last: center;
  border: 1px;
  border-style: solid;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
select{
    width: 100%;
}